body {
	font-family: calibri, sans-serif;
	background-color: #808080;
	color: #333;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #FFFFFF;
}

p {
	margin-bottom: 20px;
	line-height: 1.5;
	color: #FFFFFF;
}